#site-wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.campus-content{
    flex: 1 0 auto;
}



.group11{
    width: 100%;
}

@media screen and (min-width: 768px) {
    .card2{
        margin-top: 5%;
        width: 60%;
        height: 300px;
    
    }
    .card-text1{
        font-size: 10px;
        text-align: start;
        margin-left: 5%;
    }
    .card-text2{
        font-size: 10px;
        margin-top: 0;
        text-align: start;
        margin-left: 5%;
    }
}

@media screen and (min-width: 1200px) {
    
    .card-text1{
        font-size: 20px;
        line-height: 1.5;
        text-align: start;
        margin-left: 3%;
    }
    .card-text2{
        font-size: 20px;
        text-align: start;
        margin-left: 4%;
    }
    .group11{
        height: 600px;
    }

}
@media screen and (max-width: 560px) {
    .card2{
      
        margin-left: 40%;
    }
    .card-text1{
        font-size: 10px;
        line-height: 1.5;
        margin-left: 3%;
        margin-top: -10%;
    }
    .card-text2{
        font-size: 10px;
        margin-left: 4%;
        margin-top: -6%;
    }
}