@media screen and (min-width: 768px) {
  .Campuses{
      margin-top: 0%;
      margin-bottom: 8%;
  }

    .rounded-circle{
        width: 180px;
        height: 180px;
        margin-left: -30%;
    }
    .campuses-text{
        font-size: 13px;
        margin-left: 53%;
        position: absolute;
        margin-top: -35%;
    }
    .campuses{
        margin-top: 5%;
    }
    .campuses1{
        margin-top: 5%;
     
    }
    .nalla-campus,.Gachi-campus{
        font-size: 15.55px;
    }
   .circle1,.circle2{
       margin-left: -40%;
   }
  
}

@media screen and (min-width: 992px) {
    .Campuses{
        margin-top: 2%;
    }
    .rounded-circle{
        width: 200px;
        height: 200px;
    }
    .campuses-text{
        font-size: 18px;
        position: absolute;
        margin-top: -30%;
    }
    .nalla-campus,.Gachi-campus{
        font-size: 20px;
    }
}

@media screen and (min-width: 1200px) {
    .rounded-circle{
        width: 300px;
        height: 300px;
    }
    .campuses-hd{
        font-size: 35px;
    }
    .campuses-text{
        font-size: 22px;
        position: absolute;
        margin-left: 55%;
    }
    .nalla-campus,.Gachi-campus{
        font-size: 24px;
    }
}


@media screen and (max-width: 560px) {
    .rounded-circle{
        width: 200px;
        height: 200px;
    }
    .campuses-hd{
        margin-top: 5%;
    }
}